DirectoryIndex app.php

<IfModule mod_headers.c>
    Header unset ETag
    FileETag None
</IfModule>

Header set Access-Control-Allow-Origin "*"

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ app.php?router=$1